  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Puddles&family=Smokum&display=swap');

  html{
    font-size: 20px;
}

*{
    font-family: 'Rubik Puddles', cursive;}

h2, p{
    margin: 0px;
}

.zeplin{
width: 1045px;
height: 745;
margin: 110px auto;
border: 1px solid #585858;
text-align: center;
background-color: rgb(245, 245, 238);
box-sizing: border-box;
}

.zeplin > h1{
    margin: 51px auto 0px auto;
    color: brown;
    font-size: 2.5rem;
}

.zeplin > p{
    font-size: 1.2rem;
    white-space: pre-line;
    color: rgb(0, 0, 0);
}

.zeplin > div{
display: flex;
justify-content: space-evenly;
margin: 100px auto;
}

.zeplin > div > p > img{
    width: 100%;
    filter: grayscale(100%);
}

.zeplin > div > p > img:hover{
    filter: brightness(150%);
    filter: grayscale(0%);
}

#zeplin-innerbox{
    position: absolute;
    box-sizing: border-box;
    padding: 21px 21px;
    margin: 9px;
    background-color: red;
    font-size: 34px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
